#filters {
    display: flex;
    justify-content: space-between; /* Espacement égal entre les divs */
}

#filters > div {
    padding: 20px; /* Espacement intérieur */
    margin: 5px; /* Espacement extérieur */
    flex: 1; /* Les divs occupent une largeur égale */
    text-align: center; /* Centrer le texte */
}